@import './sass/bootstrap';
@import "./Sass/navHeader";
@import "./Sass/screenloader";
@import "./Sass/auth";
@import"./Sass/todos";

$dark: #00d9ff;

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0  auto;
    background-color: #ffffff;
}